@model User
@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
               aria-expanded="false">
                @*<img src="~/lib/images/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">*@
                <img class="rounded-circle" src="@Url.Action("GetImage", "Account", new { userId = User.Claims.FirstOrDefault(c => c.Type == "Id").Value})" alt="Profile Image" width="35" height="35">
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a asp-controller="Account" asp-action="Edit" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-mail fs-6"></i>
                        <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                </div>
            </div>
        </li>
    </ul>
}
else
{
    <div class="d-flex">
        <a class="btn btn-primary ms-auto" asp-controller="Account" asp-action="LogIn">Login</a>
    </div>
}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="modalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="post">
                    @if (ViewContext.ModelState.Count > 0)
                    {
                        <div class="alert alert-danger" asp-validation-summary="All"></div>
                    }
                    <div class="form-floating mb-2">
                        <input class="form-control" asp-for="@Model.Email" placeholder="Username" />
                        <label asp-for="@Model.Email">Username</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input class="form-control" type="password" asp-for="@Model.Password" placeholder="Password" />
                        <label asp-for="@Model.Password">Password</label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary float-end ms-2" data-bs-dismiss="modal" aria-label="Close">Close <i class="fa-solid fa-circle-xmark"></i> </button>
                        <button asp-controller="Account" asp-action="Login" class="btn btn-primary float-end">Login <i class="fa-solid fa-location-arrow"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
