<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <script src="~/lib/print-js/print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/lib/apexcharts/apexcharts.min.css" />
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    <link rel="stylesheet" href="~/lib/css/styles.min.css" />

</head>
<body class="position-relative">
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img">
                        <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">ADMIN</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Account" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-users"></i>
                                </span>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-alert-circle"></i>
                                </span>
                                <span class="hide-menu">Alerts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Candidate" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-person"></i>
                                </span>
                                <span class="hide-menu">Candidate</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="MasterData" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-server"></i>
                                </span>
                                <span class="hide-menu">MasterData</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">AUTH</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Account" asp-action="Login" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu">Login</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Account" asp-action="Register" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu">Register</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">EXTRA</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="MasterData" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-server"></i>
                                </span>
                                <span class="hide-menu">MasterData</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <partial name="_AuthPartial" model="@System.Security.Claims.ClaimsPrincipal.Current" />
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                <!--  Row 1 -->

                
                <div class="row">
                    @RenderBody();
                </div>

                @*Toast section*@
                <div>
                    <input type="hidden" id="toastMsg" value="@TempData["MessageToShow"]" style="display: none" />
                    <input type="hidden" id="toastType" value="@TempData["MessageType"]" style="display: none" />
                    <div class="toast align-items-center @((TempData["MessageType"] as string) == "Success" ? "text-success border-success" : "text-danger border-danger") border-2 position-absolute position-fixed bottom-0 end-0 shadow-lg" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header @((TempData["MessageType"] as string) == "Success" ? "text-success" : "text-danger")" id="toast">
                            <strong class="me-auto">Message</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body d-flex justify-content-between align-items-center">
                            @(TempData["MessageToShow"])
                            @if ((TempData["MessageType"] as string) == "Success")
                            {
                                <i class="fa-solid fa-circle-check fa-2xl"></i>
                            }
                            else if ((TempData["MessageType"] as string) == "Error")
                            {
                                <i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                            }
                        </div>
                    </div>
                </div>

                <div class="py-6 px-6 text-center">
                    <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">Thokozani Zakwe</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/assets/js/sidebarmenu.js"></script>
    <script src="~/lib/assets/js/app.min.js"></script>
    <script src="~/lib/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/lib/assets/js/dashboard.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/exceljs/exceljs.min.js"></script>
    <script src="~/lib/FileSaver.js/FileSaver.min.js"></script>


    <script>
        //Toast Section
        let toastMessage = document.querySelector('.toast');
        let messageToShow = document.querySelector('#toastMsg');
        let messageType = document.querySelector('#toastType');
        console.log(messageType.value);
        console.log(messageToShow.value);

        if (messageToShow.value) {
            new bootstrap.Toast(toastMessage).show();
        }


        $(document).ready(function () {
            $('#candidatesPrint').DataTable();

            document.getElementById('printExcel').addEventListener('click', exportToExcel);

            function exportToExcel() {
                const table = document.getElementById('candidatesPrint');
                const workbook = new ExcelJS.Workbook();
                const worksheet = workbook.addWorksheet("Candidate Data");
                const headerRow = worksheet.addRow([]);

                const headerCells = table.getElementsByTagName('th');

                for (let i = 0; i < headerCells.length; i++) {
                    headerRow.getCell(i + 1).value = headerCells[i].innerText;
                }

                const rows = table.querySelectorAll('tbody tr');
                console.log(rows);

                for (let i = 0; i < rows.length; i++) {
                    const cells = rows[i].getElementsByTagName('td');
                    const rowData = [];

                    for (let j = 0; j < cells.length; j++) {
                        rowData.push(cells[j].innerText);
                    }

                    worksheet.addRow(rowData);
                }

                workbook.xlsx.writeBuffer().then(buffer => {
                    const blob = new Blob([buffer], {
                        type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                    });
                    saveAs(blob, 'Candidates.xlsx');
                });

            }
        });
    </script>
</body>
</html>
