<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <script src="~/lib/print-js/print.min.js"></script>
</head>
<body class="position-relative">
    <div class="container-fluid row" style="min-height:90vh; max-width: 100vw;">
        <nav class="col-2 p-1">
            <ul class="nav nav-pills flex-column gap-1">
                <li class="nav-item">
                    <a class="nav-link text-primary text-center border border-primary @((ViewData["Menu"] as string) == "home"? "active text-white":"")" aria-current="Home" asp-controller="Home" asp-action="Index">Home <i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary text-center border border-primary @((ViewData["Menu"] as string) == "privacy"? "active text-white":"")" aria-current="Home" asp-controller="Home" asp-action="Index">Privacy <i class="fa-solid fa-lock"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary text-center border border-primary @((ViewData["Menu"] as string) == "users"? "active text-white":"")" aria-current="Home" asp-controller="Account" asp-action="Index">Users <i class="fa-solid fa-users"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary text-center border border-primary @((ViewData["Menu"] as string) == "candidate"? "active text-white":"")" aria-current="Home" asp-controller="Candidate" asp-action="Index">Candidate <i class="fa-solid fa-user-check"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary text-center border border-primary @((ViewData["Menu"] as string) == "masterdata"? "active text-white":"")" aria-current="Home" asp-controller="MasterData" asp-action="Index">MasterData <i class="fa-solid fa-database"></i></a>
                </li>
            </ul>
        </nav>
        <main class="col-10">
            <div class="row mt-1">
                <partial name="_AuthPartial" model="@System.Security.Claims.ClaimsPrincipal.Current" />
            </div>
            <div class="row">
                @RenderBody()
                <input type="hidden" id="toastMsg" value="@TempData["MessageToShow"]" style="display: none" />
                <input type="hidden" id="toastType" value="@TempData["MessageType"]" style="display: none" />
                <div class="toast align-items-center @((TempData["MessageType"] as string) == "Success" ? "text-success border-success" : "text-danger border-danger") border-2 opacity-75 position-absolute bottom-0 end-0 fixed shadow-lg" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header @((TempData["MessageType"] as string) == "Success" ? "text-success" : "text-danger")" id="toast">
                        <strong class="me-auto">Toast Message</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body d-flex justify-content-between align-items-center">
                        @(TempData["MessageToShow"])
                        @if ((TempData["MessageType"] as string) == "Success")
                        {
                            <i class="fa-solid fa-circle-check fa-2xl"></i>
                        }
                        else if ((TempData["MessageType"] as string) == "Error")
                        {
                            <i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                        }
                    </div>
                </div>
                @*</div>*@
            </div>
        </main>
    </div>
    <footer class="row bg-white text-secondary text-center">
        <p>T &amp; C &copy; 2024</p>
    </footer>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>

        let toastMessage = document.querySelector('.toast');
        let messageToShow = document.querySelector('#toastMsg');
        let messageType = document.querySelector('#toastType');
        console.log(messageType.value);
        console.log(messageToShow.value);

        if(messageToShow.value){
            new bootstrap.Toast(toastMessage).show();
        }
    </script>
</body>
</html>
