@model List<User>
<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index">All Users <i class="fa-solid fa-users"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Register">Add User <i class="fa-solid fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Edit">Edit User <i class="fa-solid fa-user-pen"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Delete">Delete User <i class="fa-solid fa-trash-alt"></i></a>
    </li>
</ul>

@if (Model.Count > 0)
{
    <div class="section-user-profiles row gap-4"> 
        @* " d-flex flex-wrap mt-5"> *@
        @foreach (User user in Model)
        {


            <div class="img-card col-sm-4 col-lg-3 m-sm-3">
                <div class="img-card-side bg-primary card-front p-3">
                    <h3 class="text-center text-white">@user.FullName.ToUpper()</h3>
                    <hr class="text-white mb-5" />
                    <ul>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Email</div>
                                @* @user.Email *@
                                <span class="h5 p-2">@user.Email</span>
                            </div>
                        </li>
                        <hr class="text-dark" />
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Role</div>
                                @* @((ViewData["Roles"] as List<Role>).FirstOrDefault(x => x.Id == user.RoleId).Description) *@
                                <span class="rounded-pill h5 bg-primary p-2">@((ViewData["Roles"] as List<Role>).FirstOrDefault(x => x.Id == user.RoleId).Description)</span>
                            </div>
                        </li>
                        <hr class="text-dark" />
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold mb-2">Last Login</div>
                                <span class="rounded-pill h5 bg-primary p-2">@(user?.lastLogin == null ? "Never" : user?.lastLogin)</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="img-card-side card-back position-relative">
                    @if (user.Image != null)
                    {
                        <img class="img-fluid" style="height: 100%; width: 100%;" src="@Url.Action("GetImage", "Account", new { userId = user.Id})" alt="Profile Image">
                        <a class="ms-5 mb-2 btn btn-primary position-absolute bottom-0 start-0 w-75">Details</a>
                    }else{
                        <div class="no-profile-image container-fluid text-primary">
                            Image Missing
                        </div>
                    }
                </div>
            </div>

        }
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <p class="display-3 text-center text-warning">No Users Found</p>
        </div>
    </div>
}