@model List<User>
<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index">All Users <i class="fa-solid fa-users"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Register">Add User <i class="fa-solid fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Edit">Edit User <i class="fa-solid fa-user-pen"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Delete">Delete User <i class="fa-solid fa-trash-alt"></i></a>
    </li>
</ul>


@if (Model.Count > 0)
{
    @foreach (User user in Model)
    {   
        <div class="card shadow-lg text-bg-primary position-relative p-0 me-4 mb-4" style="width: 18rem; box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75) !important; margin-top: 80px;">
            
            @if (user.Image != null)
            {
                <img class="position-absolute rounded-circle border border-white border-5" style="height:8rem; width: 8rem; top: -80px; left: 30%" src="@Url.Action("GetImage", "Account", new { userId = user.Id})" alt="Profile Image" >
            }
            <div class="card-body position-relative">
                <h5 class="card-title text-white pt-5">@user.FullName.ToUpper()</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group">@user.Email</li>
                    <li class="list-group">@((ViewData["Roles"] as List<Role>).FirstOrDefault(x => x.Id == user.RoleId).Description)</li>
                    <li class="list-group">LastLogin: @(user?.lastLogin == null ? "Never" : user.lastLogin)</li>
                    <li class="list-group">Date Created: @user.DateCreated </li>
                </ul>
                <a class="btn btn-info position-absolute" style="bottom: 12px; right: 12px;" asp-action="Edit">Details</a>
            </div>

        </div>
    }
}
else
{
    <div class="card">
        <div class="card-body">
            <p class="display-3 text-center text-warning">No Users Found</p>
        </div>
    </div>
}