@model List<User>
<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index">All Users <i class="fa-solid fa-users"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Register">Add User <i class="fa-solid fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Edit">Edit User <i class="fa-solid fa-user-pen"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Delete">Delete User <i class="fa-solid fa-trash-alt"></i></a>
    </li>
</ul>

@if (Model.Count > 0)
{
    <div class="section-user-profiles d-flex justify-content-evenly mt-5">
        @foreach (User user in Model)
        {


            <div class="img-card col-4">
                <div class="img-card-side card-front p-3">
                    <h3 class="text-center text-primary">@user.FullName.ToUpper()</h3>
                    <hr class="text-primary mb-5" />
                    <ul>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Email</div>
                                @user.Email
                            </div>
                            <span class="badge text-bg-primary rounded-pill">14</span>
                        </li>
                        <hr class="text-dark" />
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Role</div>
                                @((ViewData["Roles"] as List<Role>).FirstOrDefault(x => x.Id == user.RoleId).Description)
                            </div>
                            <span class="badge text-bg-primary rounded-pill">14</span>
                        </li>
                        <hr class="text-dark" />
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Last Login</div>
                                @user.lastLogin
                            </div>
                            <span class="badge text-bg-primary rounded-pill">14</span>
                        </li>
                    </ul>
                </div>
                <div class="img-card-side card-back position-relative">
                    @if (user.Image != null)
                    {
                        <img class="img-fluid" style="height: 100%; width: 100%;" src="@Url.Action("GetImage", "Account", new { userId = user.Id})" alt="Profile Image">
                        <a class="btn btn-outline-primary position-absolute bottom-0 start-0 w-100">Details</a>
                    }
                </div>
            </div>

        }
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <p class="display-3 text-center text-warning">No Users Found</p>
        </div>
    </div>
}