@model User
@*@{
    Layout = "";
}*@

@*<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index">All Users <i class="fa-solid fa-users"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Register">Add User <i class="fa-solid fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Edit">Edit User <i class="fa-solid fa-user-pen"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Delete">Delete User <i class="fa-solid fa-trash-alt"></i></a>
    </li>
</ul>*@

<form method="post">
    @if (ViewContext.ModelState.Count > 0)
    {
        <div class="alert alert-danger" asp-validation-summary="All"></div>
    }
    @*<div class="mb-2">
    <label asp-for="@Model.Email">Username</label>
    <input class="form-control" asp-for="@Model.Email" />
    </div>
    <div class="mb-2">
    <label asp-for="@Model.Password">Password</label>
    <div class="input-group">
    <input class="form-control w-75" type="password" asp-for="@Model.Password" />
    <button type="button" id="showPassword" class="btn btn-outline-info" data-bs-title="Show/Hide Password" data-bs-toggle="tooltip"><i class="fa-regular fa-eye"></i></button>
    </div>
    </div>
    <div>
    <button class="btn btn-outline-primary">Login <i class="fa-solid fa-location-arrow"></i></button>
    <a class="btn-link float-end" asp-action="forgotPassword">Forgot Password?</a>
    </div>*@

    <div class="container-fluid">
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed">
            <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center w-100">
                    <div class="row justify-content-center w-100 shadow-lg">
                        <div class="d-none d-lg-block col-lg-4 col-xxl-4" style="margin-right: -20px !important;">
                            <img class="img-fluid" src="~/lib/images/bg1.jpg" />
                        </div>
                        <div class="col-md-8 col-lg-8 col-xxl-8">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                        @*<img src="../assets/images/logos/dark-logo.svg" width="180" alt="">*@
                                        <img src="~/lib/images/welcome-min.jpg" width="180" alt="">
                                    </a>
                                    <p class="text-center">Your Social Campaigns</p>
                                    <form>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Username</label>
                                            <input type="email" asp-for="@Model.Email" class="form-control" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputPassword1" class="form-label">Password</label>
                                            <input type="password"asp-for="@Model.Password" class="form-control">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="form-check">
                                                <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label text-dark" for="flexCheckChecked">
                                                    Remeber this Device
                                                </label>
                                            </div>
                                            <a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
                                        </div>
                                        <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p class="fs-4 mb-0 fw-bold">Don't have Account?</p>
                                            <a class="text-primary fw-bold ms-2" asp-action="Register">Create an account</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>

<script>
    let showPasswordBtn = document.getElementById('showPassword');
    let passwordInput = document.querySelectorAll('input[type="password"]');
    let toolTip = document.querySelector('[data-bs-toggle="tooltip"]');
    //new bootstrap.Tooltip(toolTip);


    showPasswordBtn.addEventListener('click', () => {
        console.log('ÁddEventhandler');
        console.log(toolTip);
        const type = passwordInput[1].getAttribute('type');
        passwordInput[1].setAttribute('type', type === 'password' ? 'text' : 'password');
        //}
    });
</script>