@model User

<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index">All Users <i class="fa-solid fa-users"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Register">Add User <i class="fa-solid fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Edit">Edit User <i class="fa-solid fa-user-pen"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Delete">Delete User <i class="fa-solid fa-trash-alt"></i></a>
    </li>
</ul>

<h3 class="bg-primary text-center text-white p-2 rounded-1">Register a New User <i class="fa-regular fa-user"></i> </h3>

<form method="post">
    <div class="alert alert-danger" asp-validation-summary="All"></div>
    <div class="mb-1">
        <label asp-for="@Model.Name">FirstName</label>
        <input class="form-control" asp-for="@Model.Name" />
    </div>
    <div class="mb-1">
        <label asp-for="@Model.Surname">Surname</label>
        <input class="form-control" asp-for="@Model.Surname" />
    </div>
    <div class="mb-1">
        <label>Role</label>
        <select class="form-control" asp-items=@ViewBag.Roles asp-for="@Model.RoleId">
        </select>
    </div>
    <div class="mb-1">
        <label asp-for="@Model.Email">Username</label>
        <input class="form-control" asp-for="@Model.Email" />
    </div>
    <div class="mb-2">
        <label asp-for="@Model.Password">Password</label>
        <input class="form-control" type="password" asp-for="@Model.Password" />
    </div>
    <div>
        <button class="btn btn-outline-primary">Save <i class="fa-regular fa-floppy-disk"></i></button>
    </div>
</form>